body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.3s;
}

.app.dark {
  background-color: #181818;
  color: white;
}

.app.light {
  background-color: white;
  color: black;
}

.container {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #333;
  border-radius: 5px;
  max-width: 400px;
  margin: 20px auto;
}

input {
  flex: 1;
  background: none;
  border: none;
  color: white;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.theme-toggle {
  background: yellow;
  padding: 10px 15px;
  border: none;
}
